section.slider
	.slider__slide
		.container
			.slider__text
				.slider__heading WELCOME TO OUR MARKETPLACE
				.slider__description.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisi metus, tristique ndolor non, ornare sagittis dolor. Nulla vestibulu lacus ...
				button.button view more
				button.button video tour
			.slider__controls

	.slider__slide
		.container
			.slider__text
				.slider__heading WELCOME TO OUR MARKETPLACE
				.slider__description.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisi metus, tristique ndolor non, ornare sagittis dolor. Nulla vestibulu lacus ...
				button.button view more
				button.button video tour
			.slider__controls

	.slider__slide
		.container
			.slider__text
				.slider__heading WELCOME TO OUR MARKETPLACE
				.slider__description.
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisi metus, tristique ndolor non, ornare sagittis dolor. Nulla vestibulu lacus ...
				button.button view more
				button.button video tour
			.slider__controls