@import "bourbon"
@import "owl-carousel.sass"
@import "vars.sass"
@import "normalize.sass"
@import "fonts.sass"

//Load Libs SASS
@import "app/libs/animate/animate.sass"



//include sprites
@import "sprites/sprite.sass"

@mixin sprite-image($sprite)
	$sprite-image: nth($sprite, 9)
	background-image: url(../img/#{$sprite-image})

body,
html
	padding: 0
	margin: 0
	box-sizing: border-box
	font-family: "OpenSans"

*,
*:before,
*:after
	box-sizing: inherit

*::-webkit-input-placeholder
	color: #666
	opacity: 1

*:-moz-placeholder
	color: #666
	opacity: 1

*::-moz-placeholder
	color: #666
	opacity: 1

*:-ms-input-placeholder
	color: #666
	opacity: 1

body input:focus:required:invalid,
body textarea:focus:required:invalid
	color: #666
body input:required:valid,
body textarea:required:valid
	color: #666

//Custom Styles Here

.clearfix:after
  content: ''
  display: table
  clear: both

.section
	padding: 80px 0

.main-header
	background-color: #1d2126
	position: fixed
	top: 0
	left: 0
	right: 0
	z-index: 2
	&__content
		padding-bottom: 20px

.container
	width: 90%
	max-width: 1170px
	margin: 0 auto
	padding: 0 15px
	position: relative

.logo
	float: left
	margin-top: 30px

.main-menu
	float: right
	font-size: 0
	margin-top: 25px

.menu__item
	display: inline-block
	font-family: "OpenSans"
	font-size: 14px
	line-height: 1.5
	font-weight: 600
	text-transform: uppercase
	list-style: none
	padding: 4px 9px
	border-radius: 5px
	cursor: pointer
	transition: .3s
	&:not(:last-child)
		margin-right: 15px
	&:hover
		box-shadow: 0 0 0 2px #a4aead
	&_active
		box-shadow: 0 0 0 2px #23b7a4

.menu__link
	text-decoration: none
	color: #a4aead


.slider__slide
	position: relative

.slide__info
	padding-top: 300px
	padding-bottom: 250px
	max-width: 650px

.slide__heading
	color: white
	font-family: "QuattrocentoSans"
	font-size: rem(36px)
	font-weight: 700
	line-height: rem(42px)
	text-transform: uppercase
	margin-bottom: 15px

.slide__desc
	color: #ccd0d7
	font-family: "OpenSans"
	font-size: rem(16px)
	font-weight: 400
	line-height: rem(23px)
	margin-bottom: 40px

.button
	display: inline-block
	padding: 10px 21px
	color: #fff
	background-color: transparent
	border-radius: 4px
	box-shadow: 0 0 0 2px #fff
	font-family: "QuattrocentoSans"
	font-size: rem(14px)
	font-weight: 700
	line-height: rem(20px)
	text-transform: uppercase
	cursor: pointer
	transition: .5s
	text-decoration: none
	&:not(:last-child)
		margin-right: 10px
	&:hover
		background-color: #23b7a4
		box-shadow: 0 0 0 #23b7a4

.slide
	&_first
		background: url("../img/slider__bg.jpg") no-repeat center
		background-size: cover
	&_second
		background: url("../img/slider__bg2.jpg") no-repeat center
		background-size: cover
	&_third
		background: url("../img/slider__bg3.jpg") no-repeat center
		background-size: cover

.slider_top
	.owl-dots
		position: absolute
		bottom: 5%
		right: 21%
		.owl-dot
			display: inline-block
			width: 13px
			height: 13px
			border-radius: 50%
			border: 2px solid #fff
			&:not(:last-child)
				margin-right: 5px
			&.active
				background-color: #fff

.section_about
	border-bottom: 1px solid #dde1e4

.section__heading
	color: #292f36
	font-family: "QuattrocentoSans"
	font-size: 36px
	font-weight: 700
	line-height: 42px
	text-transform: uppercase
	border-left: 10px solid #e1e6ea
	padding-left: 15px
	margin-bottom: 60px

.section__content
	margin-top: 34px

.section__description
	float: left
	width: 55.56%
	color: #8d8f92
	font-size: rem(16px)

.section__list
	float: right
	width: 38.89%
	margin-top: 16px

.list__item
	position: relative
	margin-bottom: 25px

.item__number
	position: absolute
	display: inline-block
	background-color: #23B7A4
	width: 50px
	height: 50px
	text-align: center
	line-height: 50px
	font-family: "QuattrocentoSans"
	color: #fff
	font-size: 20px

.item__heading
	line-height: 1
	text-transform: uppercase
	font-weight: 700
	font-family: "QuattrocentoSans"

.item__content
	padding-left: 70px

.item__desc
	margin-top: 10px
	color: #8d8f92
	font-size: 16px
	line-height: 26px

.section__social-links
	font-size: 0

.social-links__item
	display: inline-block
	background-color: #C8CDD0
	width: 60px
	height: 60px
	font-size: rem(36px)
	text-align: center
	line-height: 61px
	font-family: "Socialico"
	color: #fff
	text-decoration: none
	margin-right: 1px
	transition: .3s
	&:hover
		background-color: #d0d5d9

.section__people
	font-size: 0
	text-align: center
	justify-content: center
	margin-top: 60px
	display: flex
	flex-wrap: nowrap

.section__person
	display: inline-block
	width: 263px
	background-color: #E1E6EA
	transition: .5s
	margin-bottom: 20px
	min-width: 0
	perspective: 400px
	&_off
		opacity: 1
		transform: rotateY(180deg)
	&_on
		opacity: 1
		transform: rotateY(0)
	&:not(:last-child)
		margin-right: 20px

	&:hover
		background-color: $main-color

		.person__social-links
			display: block

		.person__name,
		.person__position
			color: #fff

.person__img-wrapper
	position: relative


.person__social-links
	display: none
	position: absolute
	top: 0
	left: 0
	right: 0
	bottom: 0
	font-size: 0
	background-color: rgba(255,255,255, .4)

.social-links__wrapper
	display: block
	text-align: center
	margin-top: 120px

.person__img
	max-width: 100%

.person__description
	text-align: left
	padding: 15px 20px
	padding-top: 10px

.person__social-link
	display: inline-block
	font-family: "Socialico"
	font-size: 28px
	text-decoration: none
	width: 50px
	height: 50px
	text-align: center
	line-height: 50px
	background-color: $main-color
	color: #fff
	transition: .3s
	&:not(:last-child)
		margin-right: 1px
	&:hover
		background-color: #4e5a62

.person__name
	font-family: "QuattrocentoSans"
	font-weight: 700
	text-transform: uppercase
	font-size: 16px

.person__position
	font-size: 14px
	color: #8d8f92

.section_work
	background-color: $main-color
	.section__heading
		color: #fff
		border-color: #4e5a62

.section__gallery
	font-size: 0
	text-align: center
	margin-top: 60px


.gallery__item
	position: relative
	display: inline-block
	overflow: hidden
	width: 360px
	height: 265px
	font-family: "QuattrocentoSans"
	color: white
	font-weight: 700
	text-transform: uppercase
	margin: 0 10px 30px
	&:hover
		.img__bottom,
		.img__top
			opacity: 1
			transform: translate(0, 0)
		.img__img
			transform: scale(1.2) rotate(5deg)

.img__img
	transition: .5s

.img__bottom
	position: absolute
	left: 0
	bottom: 0
	background-color: #292f36
	height: 60px
	width: 100%
	transform: translate(0, 100px)
	opacity: 0
	transition: .5s
	text-align: left


.img__top
	display: inline-block
	position: absolute
	width: 100%
	top: 0
	left: 0
	right: 0
	height: 205px
	background-color: transparentize(#292f36, .5)
	transform: translate(0, -300px)
	opacity: 0
	transition: .5s
	z-index: 1
	cursor: pointer

.img__sign
	line-height: 225px
	font-size: 3rem

.img__text
	line-height: 60px
	padding-left: 20px
	font-size: 18px

.section__gallery
	margin-bottom: 60px

.button-wrapper
	text-align: center
	margin-top: 60px

.services__pluses
	text-align: center
	font-size: 0

.pluses__item
	display: inline-block
	max-width: 260px
	margin: 50px 10px 10px

.pluses__img
	display: inline-block
	text-align: center
	vertical-align: top

.pluses__title
	color: #292f36
	font-family: "QuattrocentoSans"
	font-size: 17px
	font-weight: 700
	text-transform: uppercase
	margin-top: 30px
	margin-bottom: 25px

.pluses__desc
	color: #8d8f92
	font-family: "OpenSans"
	font-size: 16px
	font-weight: 400
	line-height: 26px

.theme-setup
	+sprite($services1)

.pixel-perfect
	+sprite($services2)

.responsive
	+sprite($services3)

.support
	+sprite($services4)

.bootstrap
	+sprite($services5)

.user-friendly
	+sprite($services6)

.perfomance
	+sprite($services7)

.cloud
	+sprite($services8)

.section_features
	background-color: #3A454D
	.section__heading
		color: #fff
		border-color: #4e5a62

.features__item
	width: 32%
	color: #fff
	float: left
	&:not(:last-child)
		margin-right: 2%

.features__img
	max-width: 100%
	min-width: 0

.features__title
	margin: 15px 0
	font-family: "QuattrocentoSans"
	font-size: 18px
	font-weight: 700
	line-height: 1.1
	text-transform: uppercase

.features__desc
	color: #dcdfe1
	font-family: "OpenSans"
	font-size: 16px
	font-weight: 400
	line-height: 26px

.contact__map
	height: 346px

.contact__info
	margin: 50px 0

.contact__text
	width: 50%
	float: left

.contact__heading
	font-size: 20px
	color: #292f36
	margin-bottom: 29px
	text-transform: uppercase
	font-family: "QuattrocentoSans"
	font-weight: 700

.contact__descripton
	font-size: 16px
	line-height: 26px
	color: #8d8f92

.contact__form
	padding: 24px 30px 30px
	float: right
	width: 50%
	position: absolute
	right: 5px
	top: -200px
	background-color: #fff
	border-radius: 5px

.form__input,
.form__textarea
	background-color: #EAEEF1
	padding: 6px 12px
	border-radius: 5px
	border: 0
	outline: none
	font-size: 14px
	line-height: 1.4

.form__input-wrapper
	padding: 0 15px
	width: 50%
	float: left
	margin-bottom: 24px

.form__input
	width: 100%
	height: 45px

.form__textarea
	width: 100%

.form__input-wrapper_message
	padding: 0 15px
	margin-bottom: 24px

.button_form
	margin-left: 15px
	border: 0
	background-color: #23B7A4
	&:hover
		background-color: $main-color

.form__label
	color: #8d8f92
	font-weight: bold
	text-transform: uppercase
	font-size: 14px
	font-family: "QuattrocentoSans"

.main-footer
	background-color: $main-color
	color: #fff

.footer__content
	padding: 30px 0
.footer__text
	float: left
	font-size: 14px
	line-height: 30px

.footer__social
	float: right
	font-family: "Socialico"
	font-size: 0

.social__link
	font-size: 30px
	line-height: 30px
	text-decoration: none
	color: #fff
	&:not(:last-child)
		margin-right: 10px

.toggle-menu
	display: none
	width: rem(28px)
	height: rem(28px)
	margin-top: rem(14px)
	float: right
	margin-top: 30px
	cursor: pointer


.toggle-menu span:after,
.toggle-menu span:before
	content: ""
	position: absolute
	left: 0
	top: 9px

.toggle-menu span:after
	top: 18px

.toggle-menu span
	position: relative
	display: block

.toggle-menu span,
.toggle-menu span:after,
.toggle-menu span:before
	width: 100%
	height: 3px
	background-color: #fff
	transition: all 0.3s
	backface-visibility: hidden
	border-radius: 2px

.toggle-menu_on span
	background-color: transparent

.toggle-menu_on span:before
	transform: rotate(45deg) translate(-1px, 0px)

.toggle-menu_on span:after
	transform: rotate(-45deg) translate(6px, -7px)

.toggle-menu_on + .main-menu
	display: block
	width: 100%
	text-align: right
	z-index: 2
	background-color: #1D2126
	.menu__item
		display: block
		margin: 5px 0
		border-radius: 0
		box-shadow: none
		border-bottom: 1px solid
		&:hover
			color: #fff



@import "jquery.fancybox-thumbs"
@import "fancybox.sass"
//ALWAYS END
@import "media"
